<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.commodity.mapper.CommdityMapper">


    <update id="updateinvent" >
        update t_commodity set inventory = inventory-#{count} where id =#{comId} and inventory-#{count}>=0
    </update>


</mapper>

